<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
<!-- 2021-03-22
"«Call to a member function getAdditionalInformation() on null in vendor/magento/module-sales/Model/OrderRepository.php:183»":
https://github.com/canadasatellite-ca/site/issues/29 -->
	<type name='Magento\Sales\Api\Data\OrderInterface'>
		<plugin
			name='CanadaSatellite\Core\Plugin\Magento\Sales\Api\Data\OrderInterface'
			type='CanadaSatellite\Core\Plugin\Magento\Sales\Api\Data\OrderInterface'
		/>
	</type>
</config>