<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
<!-- 2021-03-22
"«Call to a member function getAdditionalInformation() on null in vendor/magento/module-sales/Model/OrderRepository.php:183»":
https://github.com/canadasatellite-ca/site/issues/29 -->
	<type name='Magento\Sales\Api\Data\OrderInterface'>
		<plugin
			name='CanadaSatellite\Core\Plugin\Magento\Sales\Api\Data\OrderInterface'
			type='CanadaSatellite\Core\Plugin\Magento\Sales\Api\Data\OrderInterface'
		/>
	</type>
<!-- 2021-03-26
1) "«Memory size allocated for the temporary table is more than 20% of innodb_buffer_pool_size»
for `Magento\Catalog\Model\Indexer\Category\Product\Action\Full`": https://github.com/canadasatellite-ca/site/issues/47
2) The problem is caused by the `we-are-virtua/magento2-search-fix` module: https://github.com/we-are-virtua/magento2-search-fix/blob/1.0.1/src/SearchFix/etc/di.xml#L3-L7 -->
	<type name='Magento\Catalog\Model\Indexer\Category\Product\Action\Full'>
		<arguments><argument name='batchRowsCount' xsi:type='number'>3000</argument></arguments>
	</type>
<!-- 2021-03-30
"«Unable to unserialize value. Error: Syntax error» on `sales/order/history`»":
https://github.com/canadasatellite-ca/site/issues/62 -->
	<type name='Magento\Sales\Model\Order\Item'>
		<plugin
			name='CanadaSatellite\Core\Plugin\Magento\Sales\Model\Order\Item'
			type='CanadaSatellite\Core\Plugin\Magento\Sales\Model\Order\Item'
		/>
	</type>
</config>